/* Цитата */
  
.blockquote {
  width: 269px;
  margin: 0 auto;
  margin-bottom: 42px;

  &__icon {
    display: inline-block;
    height: 16px;
    width: 18px;
    background: url(../../images/top-section/icons/quote.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  
  &__quote {
    margin: 0;
    margin-bottom: 26px;
  }
  
  &__paragraph {
    margin: 0;
    width: 244px;
    font-size: 14px;
    font-family: "Ubuntu-Regular";
    line-height: 1.429;
    margin-bottom: 22px;
  }

  &__img {
    border-radius: 6px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  
  .blockquote {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 42px;

    &__icon {
      display: block;
      height: 20px;
      width: 26px;
      background: url(../../images/top-section/tablet/quote.png);
      margin-bottom: 0;
    }

    &__paragraph {
      font-size: 18px;
      line-height: 1.389;
      width: 620px;
      padding-left: 40px;
      letter-spacing: 1.2px;
    }

    &__img {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .blockquote {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 118px;

    &__quote {
      width: 500px;
      // height: 240px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      margin-right: 80px;

      // &::nth-last-child(n) {
      //   margin-bottom: 0;
      // }
    }

    &__icon {
      height: 20px;
      width: 26px;
      background: url(../../images/top-section/desktop/quote.png);
      margin: 0;
    }

    &__paragraph {
      width: 500px;
      font-size: 20px;
      font-family: "Ubuntu-Regular";
      color: #444444;
      line-height: 1.75;
      padding-left: 34px;
      margin: 0;
      margin-bottom: 30px;
    }

    &__img {
      height: 404px;
      width: 650px;
    }

    // &__quote {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
  }
}