.directions-list {
  list-style: none;

  @media (min-width: 768px) { 
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.directions-list__item {
  background-color: #fafafa;

  &:hover {
    background-color: $color-orange;
  }


  @media (max-width: 767px) { 
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  
    & {
      padding: 30px 45px;
    }
  }

  @media (min-width: 768px) { 
    & {
      // padding: 58px 45px 52px 56px;
    }
  }

  @media (min-width: 768px) { 
    & {
      // flex-basis: 50%;
      width: 310px;
      height: 295px;
      padding-top: 35px;
      padding-left: 35px;
    }

    &:nth-child(1) {
      border-bottom: 1px dashed $color-white;
      border-right: 1px dashed $color-white;
    }

    &:nth-child(2) {
      border-bottom: 1px dashed $color-white;
    }

    &:nth-child(3) {
      border-right: 1px dashed $color-white;
    }
  }

  @media (min-width: 1200px) { 
    & {
      flex-basis: 25%;
    }

    &:not(:last-child) {
      border-right: 1px dashed $color-white;
    }

  }
}

.directions-list__name {
  margin-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: $font-large;
  line-height: 1;
  font-weight: 700;
  width: 200px;

  @media (max-width: 767px) { 
    & {
      font-size: $font-large;
    }
  }

  @media (min-width: 768px) { 
    & {
      font-size: 30px;
    }
  }
}

.directions-list__description {
  margin-bottom: 40px;
  font-family: 'Ubuntu', sans-serif;
  color: $color-black;

  @media (max-width: 1199px) { 
    & {
      font-size: 16px;
      line-height: 20px;
      width: 201px;
      
    }
  }
  
  @media (min-width: 1200px) { 
    & {
      font-size: $font-medium-18;
      line-height: 27px;
      width: 223px;
    }
  }
}

.directions-list__years {
  margin-bottom: 20px;
  color: $color-orange;
}

.directions-list__number {
  position: relative;
  font-family: $family-sans;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;

  @media (max-width: 767px) { 
    & {
      font-size: 30px;
    }
  }

  @media (min-width: 768px) { 
    & {
      font-size: 40px;
    }
  }

}

.directions-list__number span {
  position: absolute;
  top: -5px;
  right: -35px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.directions-list__number span::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $color-orange;
}

.directions-list__arrow {
  background-color: transparent;
  border: none;
}

.directions-list__arrow:hover,
.directions-list__arrow:focus {
  outline: none;
}

.directions-list__arrow svg{
  fill: $color-orange;
  width: 19px;
  height: 13px;
}

.directions-list__item:hover .directions-list__description,
.directions-list__item:hover .directions-list__years {
  color: $color-white;
}

.directions-list__item:hover .directions-list__number span::after {
  background-color: $color-white;
}

.directions-list__item:hover .directions-list__arrow svg {
  fill: $color-white;
}
