.how-learn-list {
  list-style: none;

  @media (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
    }

  }
}

.how-learn-list__item {

  @media (max-width: 767px) {
    & {
      padding: 0 45px;
    }

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    & {
      flex-basis: 256px;
      padding-left: 44px;
    }

    &:nth-child(2n + 1) {
      margin-right: 44px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 37px;
    }

  }

  @media (min-width: 1200px) {
    & {
      flex-basis: 19%;
    }

    &:not(:nth-child(4n)) {
      margin-right: 3%;
    }

    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 60px;
    }
  }

}

.how-learn-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  @media (max-width: 767px) {
    & {
      margin-bottom: 17px;
      width: 55px;
      height: 55px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) { 
    & {
      margin-bottom: 22px;
      width: 82px;
      height: 82px;
    }
  }

  @media (min-width: 1200px) { 
    & {
      margin-bottom: 34px;
      width: 96px;
      height: 96px;
    }
  }
}

.how-learn-list__img--orange {
  background-color: #fbeed7;
}

.how-learn-list__img--red {
  background-color: #f8e0d7;
}

.how-learn-list__img--violet {
  background-color: #e3dcf8;
}

.how-learn-list__img--green {
  background-color: #dfeeec;
}

.how-learn-list__img svg {
  width: 34px;
  height: 34px;
}

.how-learn-list__description {
  font-family: 'Ubuntu', sans-serif;
  
  color: #464646;

  @media (max-width: 767px) {
    & {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) { 
    & {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media (min-width: 1200px) { 
    & {
      font-size: 18px;
      line-height: 30px;
    }
  }
}