/* Quote */
  
.blockquote {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 0 45px;

  &__icon {
    display: inline-block;
    height: 16px;
    width: 18px;
    background: url(../../images/top-section/mobile/quote.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  
  &__quote {
    margin: 0;
    margin-bottom: 26px;
  }
  
  &__paragraph {
    margin: 0;
    width: 100%;
    font-size: $font-small;
    font-family: "Ubuntu-Regular";
    line-height: 1.429;
    margin-bottom: 22px;
    color: $color-grey;
  }

  &__img {
    border-radius: 6px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  
  .blockquote {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 42px;
    padding: 0;

    &__icon {
      display: block;
      height: 20px;
      width: 26px;
      background: url(../../images/top-section/tablet/quote.png);
      margin-bottom: 0;
    }

    &__paragraph {
      font-size: $font-medium-18;
      line-height: 1.389;
      width: 620px;
      padding-left: 40px;
      letter-spacing: 1.2px;
    }

    &__img {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .blockquote {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 118px;
    padding: 0;

    &__quote {
      width: 500px;
      // height: 240px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      margin-right: 80px;

    }

    &__icon {
      height: 20px;
      width: 26px;
      background: url(../../images/top-section/desktop/quote.png);
      margin: 0;
    }

    &__paragraph {
      width: 500px;
      font-size: $font-medium-20;
      font-family: "Ubuntu-Regular";
      color: $color-black;
      line-height: 1.75;
      padding-left: 34px;
      margin: 0;
      margin-bottom: 30px;
    }

    &__img {
      // height: 404px;
      // width: 650px;
    }
  }
}