// Colors

$color-black: #222222;
$color-grey: #817c73;
$color-white: #ffffff;
$color-grey-footer: #6d7079;

// Font-size

$font-small: 14px;
$font-medium: 16px;
$font-large: 25px;

// Font-family

$family-sans: 'OpenSans', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;