@font-face {
    font-family: "OpenSans-Regular", sans-serif;
    src: url(../../fonts/Open_Sans/OpenSans-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans-SemiBold", sans-serif;
    src: url(../../fonts/Open_Sans/OpenSans-SemiBold.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "OpenSans-Bold", sans-serif;
    src: url(../../fonts/Open_Sans/OpenSans-Bold.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans-ExtraBold", sans-serif;
    src: url(../../fonts/Open_Sans/OpenSans-ExtraBold.woff2) format("woff2");
    font-weight: 800;
}


@font-face {
    font-family: "Ubuntu-Regular", sans-serif;
    src: url(../../fonts/Ubuntu/Ubuntu-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu-Bold", sans-serif;
    src: url(../../fonts/Ubuntu/Ubuntu-Bold.woff2) format("woff2");
    font-weight: 700;
}